<div>
  <p
    style="
      background-color: black;
      color: white;
      font-size: 2rem;
      padding: 10px;
    "
  >
    Hi
  </p>
  <br />
  <br />
  <p style="font-size: 2rem; color: black">
    A new article with the name,<strong><%=blog.name%></strong>, has been
    published on
    <a href="exposingdajjal.com" style="color: black"><u>exposingdajjal.com</u></a>
    <br />
    <br />
    <a href="exposingdajjal.com/<%=blog.number%>">
      <button
        style="width: auto; height: auto; background-color: black; color: white"
      >
        View Article
      </button>
    </a>
  </p>
  <br />
  <br />
  <p
    style="
      background-color: black;
      color: white;
      font-size: 2rem;
      padding: 10px;
    "
  >
    Thanks!
  </p>
</div>
